.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  text-shadow: 2px 2px 0px #000000;
}

.carousel-caption {
  h1 {
    font-size: 9px;
  }
}

.carousel-item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card_mine {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
}
