.form-row {
  h6 {
    position: relative;
    width: 100%;
    text-align: left;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  h6:after {
    z-index: -1;
    position: absolute;
    /* Change "right: 0" to "left: 0" for left side line */
    right: 0;
    content: '';
    width: 100%;
    border-bottom: 1px solid #636b6f;
  }

  h6 span {
    background: #fff;
    padding: 0 10px;
  }
}